{
  "presets": [["env", {
    "target": {
      "browsers": ["last 2 versions", "safari >= 7"],
      "node": 4
    }
  }]],
  "plugins": ["add-module-exports", "transform-runtime", "transform-strict-mode"]
}